<div>
  <%= flash[:notice] %>
</div>  
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <%= render 'users/user', user: @user %>
      </div>
      <div class="col-lg-8 offset-md-1">
        <table class="table table-striped">
            <div class="col-lg-8 offset-md-1">
              <h2>Books</h2>
              <table class="table table-hover table-inverse">
                    <thead>
                      <tr>
                        <th></th>
                        <th>Title</th>
                        <th>Opinion</th>
                        <th colspan="3"></th>
                      </tr>
                    </thead>
                    <% @books.each do |book| %>
                    <tbody>
                      <tr>
                        <th>
                          <% if book.image.attached? %>
                          <%= image_tag book.image, size: "80x80" %>
                          <% else %>
                          <%= image_tag 'default-image', size: "80x80" %>
                          <% end %>
                        </th>
                        <th><%= link_to book.title %></th>
                        <th><%= book.body %></th>
                      </tr>
                    </tbody>
                    <% end %>
              </table>
        </table>
      </div>
    </div>
  </div>